a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 100% (1em) = 16px. 90px = 90/16=5, 562.5% (or 5.625em) (rem ignores settings from parent elements). */
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight:normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

p {
  color: #40514E;
  line-height: 2;
}

.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.IT {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.middle-container {
  margin: 100px 0;
}

.photo {
  height: 200px;
  width: 200px;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.it-image {
  float: left;
  height: 100px;
  margin-right: 30px;
  width: 100px;
}

.customer-image {
  float: right;
  height: 100px;
  margin-left: 30px;
  width: 100px;
}

/*
.it-skill-description {
  clear: left;
}

.customer-skill-description {
  clear: right;
}
*/

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.btn {
  background: #11CDD4;
  background-image: linear-gradient(#11CDD4, #11999E);
  /* border: 2px solid #11999E; */
  border-radius: 8px;
  /* box-shadow: 5px 5px 2.5px grey; */
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

.btn:hover {
  background: #30E3CB;
  background-image: linear-gradient(#30E3CB, #2BC4AD);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link {
  margin: 10px 20px;
  text-decoration: none;
}

/* .credit {
  font-size: 1rem;
  margin-top: 50px;
  padding: 0;
} */

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
